In [ ]:
import pandas as pd
import numpy as np

**Choose Dataset file from Local Directory**

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving titanicsurvival.csv to titanicsurvival.csv

**Load Dataset**

In [ ]:
dataset=pd.read_csv('titanicsurvival.csv')
dataset

   Pclass     Sex  Age     Fare  Survived
0       3    male   22   7.2500         0
1       1  female   38  71.2833         1
2       3  female   26   7.9250         1
3       1  female   35  53.1000         1
4       3    male   35   8.0500         0

**Summarize Dataset**

In [ ]:
print(dataset.shape)
print(dataset.head(5))

(5, 5)
   Pclass     Sex  Age     Fare  Survived
0       3    male   22   7.2500         0
1       1  female   38  71.2833         1
2       3  female   26   7.9250         1
3       1  female   35  53.1000         1
4       3    male   35   8.0500         0

**Mapping Text Data to Binary Value**

In [ ]:
income_set=set(dataset['Sex'])
dataset['Sex']=dataset['Sex'].map({'female':0,'male':1}).astype(int)
print(dataset.head)

<bound method NDFrame.head of    Pclass  Sex  Age     Fare  Survived
0       3    1   22   7.2500         0
1       1    0   38  71.2833         1
2       3    0   26   7.9250         1
3       1    0   35  53.1000         1
4       3    1   35   8.0500         0>

**Segregate Dataset into X(Input/IndependentVariable) & Y(Output/DependentVariable)**

In [ ]:
X=dataset.drop('Survived',axis='columns')
X

   Pclass  Sex  Age     Fare
0       3    1   22   7.2500
1       1    0   38  71.2833
2       3    0   26   7.9250
3       1    0   35  53.1000
4       3    1   35   8.0500

In [ ]:
Y=dataset.Survived
Y

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

**Finding & Removing NA values from our Features X**

In [ ]:
X.columns[X.isna().any()]

Index([], dtype='object')

In [ ]:
X.age=X.Age.fillna(X.Age.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

**Test Again to check any na value**

In [ ]:
X.columns[X.isna().any()]

Index([], dtype='object')

**Splitting Dataset into Train & Test**

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

**Training**

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

**Predicting Wheather Person Survived or Not**

In [ ]:
pclassNo=int(input("Enter Person's Pclass number:"))
gender=int(input("Enter Person's Gender 0-female 1-male(0 or 1):"))
age=int(input("Enter Person's Age:"))
fare=float(input("Enter Person's Fare:"))
person=[[pclassNo,gender,age,fare]]
result=model.predict(person)
print(result)

if result==1:
  print("Person might be Survived")
else:
  print("Person might not be Survived")

Enter Person's Pclass number:0
Enter Person's Gender 0-female 1-male(0 or 1):0
Enter Person's Age:76
Enter Person's Fare:76
[1]
Person might be Survived

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

**Prediction for all Test Data**

In [ ]:
y_pred=model.predict(X_test)
#print(np.column_stack((y_pred,y_test)))

**Accuracy of our model**

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy of the Model:{0}".format(accuracy_score(y_test,y_pred)*100))

Accuracy of the Model:50.0